
.container{
    display: flex;
    width: 100%;
}

.sidebar{
    width: 200px;
}

.content{
    width: calc(100% - 200px);
}

#New-Row-Form {
    font-family: sans-serif;
    border: 1px solid grey;
    width: fit-content;
    padding: 0.3em 1em;
}

#New-Row-Form > div{
    display: flex;
    flex-wrap: wrap;
}

#New-Row-Form button{
    border: 0;
    color: white;
    cursor: pointer;
    margin-top: 0.5em;
    padding: 5px 30px;
    text-align: center;
    margin-bottom: 0.5em;
    background: #c1c1c1;
    margin-left: 2px;
}
#New-Row-Form input,
#New-Row-Form select{
    padding: 0.2em;
    margin: 2px 2px;
}

.department{
    border-radius: 2em;
    width: 100%;
    padding: 0.5em;
}

.checkbox-container{
    margin: 5px 0;
    display: flex;
    align-items: center;
}

#Custom-Search-Form{
    margin-top: 10px;
}

#Custom-Search-Form input {
    border: 0;
    padding: 5px;
    margin-right: 5px;
    border-bottom: 1px solid rgb(100,100,100, 0.7);
}

#Custom-Search-Form input:focus {
    outline: 0;
    border-color: blue;
}

#Custom-Search-Form button {
    border: 0;
    padding: 5px;
    color: #FFFFFF;
    cursor: pointer;
    background: #47b9ff;
}

.custom-paginate-icon, 
.custom-active-pagination-item{
    color: #47b9ff !important;
    font-weight: bold;
}
.custom-pagination-item{
    color: rgb(126 126 126 / 64%);
}