.react-table-lite-container{
  width: 100%;
}
.react-table-lite-container table{
  width: 100%;
}
.react-table-lite-container table td,
.react-table-lite-container table th{
  text-align: left;
} 

.react-table-lite-container table td{
  padding: 5px;
  border: .0525rem solid #dadadaa8;
  border-top: 0;
}

.react-table-lite-container table td{  
  border-left: 0;  
}
.react-table-lite-container table td:first-child{  
  border-left: .0525rem solid #dadadaa8;
}

.react-table-lite-container table th{
  background: #ececec;
  border-top:1px solid rgb(0,0,0);
  border-bottom:1px solid rgb(0,0,0);  
  border-right:1px solid rgb(0,0,0);
  padding:5px;
}
.react-table-lite-container table th:last-child{
  border-left: 0px;
}
.react-table-lite-container table th:first-child{
  border-left: 1px solid rgb(0,0,0);
}
.react-table-lite-container thead th{
  text-transform: capitalize;
}